
:root {
--font-family: 'Montserrat Alternates', sans-serif;

--fw-300: 300;
--fw-500: 500;

--clr-primary: hsl(210, 14%, 97%);
--clr-btn: 	hsl(187, 55%, 39%);
--clr-text: hsl(170, 12%, 10%);
--clr-hover: hsl(188, 41%, 37%);
--clr-bg: 	hsl(214, 26%, 70%);
}




*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}


html:focus-within {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}




/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*opste*/

body{
  font-family: var(--font-family);
}

.contanier{
    padding: 0 min(20vh, 20em);

}

.btn-blank{
  background-color: transparent;
  border: 0.5px solid var(--clr-btn);
  padding:0.45em 2.5em;
  margin-bottom: 2em;
  font-size: 1.25em;
  border-radius: 8px;
}
.btn{
  border-radius: 8px;
  font-weight: var(--fw-500);
  color: #000;
  padding: 0.75em 2em;
  background-color: var(--clr-btn);
  text-decoration:none;
  border: none;
  text-align: center;
  font-size: 1em;
}
h2{
  font-weight: var(--fw-300);
  padding-bottom: 1.5em;
}
h3{
  text-transform: uppercase;
  color: var(--clr-btn);
}
.btn, a, .btn-blank{
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-text)
}

span{
  vertical-align: middle;
}

.buttons{
  display: none;
}
/*navigacija*/

nav{
  background-color: var(--clr-primary);
  padding: 0em 20vh; /*!*/
  max-height: 5em;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list-items{
  display: flex;
}
.nav-item{
  list-style: none;
  padding-left: 1em;
}
.nav-item:first-child{
  padding-left: 0;
}
.logo{
  margin-right: auto;
  list-style: none;
} 
.nav-toggle{
  display: none;
}

/*footer*/

.footer{
  display: flex;
  justify-content:space-between ;
}

.nav-item-footer{
  list-style: none;
}

/*main-deo*/

header{
  display: flex;
  
}

.hero-section{
 max-width: 100%;
 margin-top: 5em;
}

.hero-section h1{
  padding-bottom: 1.5em;
  color: var(--clr-btn);
}


.hero-image{
  align-self: flex-start;
  margin-top: 4em;
  
}

.work-text{
  padding-bottom: 5em;
}

/*project-con*/
section{
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
}

.project-contanier{
  max-width: 35vw;
  position: relative;
}

.explanation{
  max-width: 30vw;
  text-align: center;
  padding: 1em;
  background-color: rgb(250, 248, 248);
  box-shadow: 4px 3px 15px -4px rgba(0,0,0,0.75);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(20px);
}

.explanation p{
  padding-bottom: 1em;
  color: var(--clr-text);;
}

/*about*/
.about-section{
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}

.about-section img{
  height: 450px;
}

.about-me p
{
  padding-left: 2em;
  text-align: justify;
}
.more-info{
  padding:3em 0;
}
.about-me h3{
  padding-left: 1.75em;
  padding-bottom: 1em;

}

/*project-page*/

.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.main-section h1{
  color: var(--clr-btn);
  padding-bottom: 1em;
}
.main-section img,
.main-section h3{
  margin: 1em 0;
}

.text-section p{
  text-align: justify;
  margin-bottom: 2em;
}

 .buttons{
  display: none;
  justify-content: space-between;
}

/*hover*/
.btn:hover,
.btn-blank:hover{
  background-color: var(--clr-hover);
  transition: background-color 0.5s ease-out;
  border-bottom: none;
}
a:hover{
  color: var(--clr-btn);
  border-bottom:1px solid var(--clr-btn);;
  transition: border-bottom 0.75s ease-in-out;
  text-decoration: none;
}
.btn a:hover{
  text-decoration: none;
  border-bottom: none;
}

/*media*/

@media (max-width:800px){
  .none img{
    display: none;
  }
  .project-img img{
    max-width: 35vw;
  }
  .explanation{
    max-width: 35vw;
  }
  .project-contanier:first-child{
    margin-right: 4em;
  }
  
  .about-me p,
  .about-me h3{
    padding-left: 0;
  }
  .btn-blank {
    padding: 0.1em 1.5em;
    font-size: 1em;
}
.hero-section .btn-blank{
  padding: 0.75em 2.75em;
}
.about-section {
  padding-top: 5em;
  margin: 0;
}
.logo img{
  width: 55px; 
}
nav {
  padding: 0em 20vh; 
  max-height: 15em;
  width: 100%;
  position: absolute;
  
}
.nav-list{
  flex-direction: column;
}
.nav-list-items {
  height: 15em;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
  flex-direction: column;
  display: none;
  opacity: 0;
}
.nav-item {
  padding-left: 0;
}
.footer {
  flex-direction: column;
}
.nav-toggle:checked ~ ul{
  display: block;
  opacity: 1;
}

.nav-toggle-label{
  position: absolute;
  right: 0;
  margin-right: 10vh;
  top: 5vh;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: black;
    width: 2em;
    height: 2px;

}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: "";
  position: absolute;
}
.nav-toggle-label span::before{
  bottom: 7px;
}
.nav-toggle-label span::after{
  top: 7px;
}
}

@media (max-width:500px){
  .contanier{
    padding: 0 min(10vh, 10em);
  }
  nav{
    padding: 0em 10vh; 
  }
  .hero-section {
    font-size: 0.75em;
    padding-top: 2em;
  }
  section{
    flex-direction: column;
  }
  .project-img img{
    max-width: 65vw;
  }
  .explanation{
    min-width: 65vw;
  }
  .project-contanier:first-child{
    margin-bottom: 3em;
  }
  .main-section img {
    margin: 2em 1em;
    width: 90vw;
  }
}

@media (max-width:1300px){
  .hero-image img{
    width: 500px;
  }
}










